/* CGCU Tempalte -
 * Updated by cmpoon
 -- General Styling -- */
@import url(https://fonts.googleapis.com/css?family=Arimo:400,400italic,700,700italic);
html {
    font-family: Arimo, "Helvetica Neue", Helvetica, Arial, sans-serif;
    position: relative;
    min-height: 100%;
}
body {
    color: black;
    /* Top padding for the navbar */
    padding-top: 50px;

    /* Margin bottom by footer height */
    margin-bottom: 60px;

    background-color: #F5F5F5;
}

/* Inserted when doing php to eliminate sidewards scroll generated on committee page */
html, body {
    max-width: 100%;
    overflow-x: hidden;
	
    font-family: Arimo, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.white-bkg {
    background-color: white;
}

/* Changes paragraph spacing
 * to 1.5x normal */
p {
    margin-top: 0em;
    margin-bottom: 1.5em;
}


/* Footer */
footer {
    padding-top: 20px;
    position:absolute;
    bottom:0;
    width:100%;
    height:60px;   /* Height of the footer */
    background: transparent;
    clear: both;
}

.footer-container {
    margin-bottom: 0px;
    bottom: 0;
}

/* Cards */
.cards {
    padding-top: 20px;
    padding-bottom: 20px;
}

/* JUMBOTRON */

/* Title Jumbotron */
/* If change jumbo height,
 * also need to change page-title
 * padding-top entry
 * & check all images work with new height */
.jumbotronTitle {
    position: inherit;
    height: 300px;
}

.jumbotronImg {
  background: url("../images/generic-banner.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: 30% 90%;
}

/* Shows a more zoomed out view of the banner on larger screens */
@media (min-width: 1200px) {
    .jumbotronImg {
        -webkit-background-size: 100%;
        -moz-background-size: 100%;
        -o-background-size: 100%;
        background-size: 100%;
        background-position: top;
    }
}

/* Page Title
 * Where this updates,
 * update -invert below */
.page-title {
    position: relative;
    margin-top: 140px;
    padding: 5px;
    left: -120px;
    /* padding-left: 20px; */
    color: white;
    text-shadow: 2px 2px 5px black;
}

h2.page-title{
  margin-top: 170px;
}

.page-title span{
  /** new colouring **/
  padding: 5px;
  padding-left: 140px;
  color: white;
  text-shadow: 2px 2px 5px black;
  background-color: rgba(193, 25, 25,0.9);
}

/* Page Title Inverted
 * Where this updates,
 * update -title above */
.page-title-invert {
    position: relative;
    margin-top: 170px;
    padding-left: 20px;
    color: black;
  }

.page-title-invert span{
    /** new colouring **/
    background-color: rgba(255,255,255,0.8)
}

.

/* Page Subtitle - e.g. cgca page */
.page-subtitle {
    padding-left: 20px;
}

/* HOME PAGE CAROUSEL */

/* Carousel base class */
.carousel {
    height: 500px;
    margin-bottom: 50px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
    z-index: 10;
    background-color: rgba(0,0,0,0.5);
}

/* Declare heights because of positioning of img element */
.carousel .item {
    height: 500px;
    background-color: #777;
}
.carousel-inner > .item > img {
    position: inherit;
    top: 0;
    left: 0;
    min-width: 1024px;
    height: 500px;
    margin: 0 auto;
}

/* HOME PAGE CAROUSEL IMAGES */

#slide_01 {
    background: url("../images/freshers/freshers-banner.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: bottom;
}

#slide_02 {
    background: url("../images/sponsors/sponsors-banner.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: top;
}

#slide_03 {
    background: url("../images/home/dogs.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: top;

}

/* RESPONSIVE CSS */

@media (min-width: 768px) {
    /* ...why? doesn't seem to do anything
    .container {
        padding-right: 15px;
        padding-left: 15px;
    }
    */

    /* Bump up size of carousel content
     * NB: Don't change when extending navbar collapse
     * This is break-point based, not nav-bar based
     */
    /* COMMENTED OUT
    .carousel-caption p {
        margin-bottom: 20px;
        font-size: 21px;
        line-height: 1.4;
    }
    COMMENTED OUT */
}
