# Redirect guilds subdirectories
Redirect 301 /aero http://aerosoc.co.uk
Redirect 301 /bioeng https://www.union.ic.ac.uk/guilds/bioeng
Redirect 301 /chemeng http://chemengsoc.com
Redirect 301 /civsoc https://union.ic.ac.uk/guilds/civsoc
Redirect 301 /clem https://union.ic.ac.uk/rcc/rsmmotor
Redirect 301 /dessoc https://union.ic.ac.uk/guilds/dessoc
Redirect 301 /docsoc https://docsoc.co.uk
Redirect 301 /eesoc https://eesoc.com
Redirect 301 /ewb https://union.ic.ac.uk/guilds/ewb
Redirect 301 /icdss https://union.ic.ac.uk/guilds/icdss
Redirect 301 /icracing https://union.ic.ac.uk/guilds/icracing
Redirect 301 /icseds https://union.ic.ac.uk/guilds/icseds
Redirect 301 /live https://live.cgcu.net
Redirect 301 /mechsoc http://www.mechsoc.com
Redirect 301 /motor https://union.ic.ac.uk/guilds/motor
Redirect 301 /robotics http://icrobotics.co.uk
Redirect 301 /rugby https://union.ic.ac.uk/guilds/rugby

# Aliases
Redirect 302 /tickets https://www.imperialcollegeunion.org/shop/club-society-project-products/city-guilds-union-products/23894/final-release-welcome-dinner-tickets-
Redirect 302 /elections https://www.imperialcollegeunion.org/your-union/leadership-elections-2019/constituent-union-committee-roles
Redirect 302 /officeuse https://docs.google.com/document/d/12SQ7254N63Ldso-PI2xPcsYmCQPWc3D3xnJ60I_7H-8/view
Redirect 302 /overheard https://goo.gl/forms/UdKDRIr2r7Wmzv3C2
Redirect 302 /ah https://calendly.com/cgcu-president
Redirect 302 /shop https://www.imperialcollegeunion.org/shop/club-society-project-products/city-&-guilds-union-products
Redirect 302 /dinner https://www.facebook.com/events/538834613239338/
Redirect 302 /talk https://docs.google.com/presentation/d/1Y26fXN7j_VNBlKvYiMmwTLr9nY5nU-P4uxskZpeYRTE/edit#slide=id.g3f7713aa97_0_61
Redirect 302 /enter mailto:guilds.regalia@imperial.ac.uk?subject=Regalia%20Competition
Redirect 302 /schools https://forms.office.com/Pages/ResponsePage.aspx?id=B3WJK4zudUWDC0-CZ8PTB4xSKdXaW9ZImpjhtGm4stBUNk00TFg2TUwyTUFHTlpYRkMxSkY4V0EzVy4u
Redirect 302 /diversity https://www.facebook.com/events/293123184877438/
Redirect 302 /dogs http://cgcupuppies2019.eventbrite.co.uk/

# Guildsheet links [these should not be changed as these links are in print]
Redirect 301 /gs/stanlee https://www.youtube.com/watch?v=HnByuUqMeko
Redirect 301 /gs/realeng https://www.youtube.com/channel/UCR1IuLEqb6UEA_zQ81kwXfg
Redirect 301 /gs/vsauce https://www.youtube.com/channel/UC6nSFpj9HTCZ5t-N3Rm3-HA
Redirect 301 /gs/crashcourse https://www.youtube.com/user/crashcourse
Redirect 301 /gs/musicpretend https://open.spotify.com/playlist/75siDciP4OPgp75Vskq1Aq?si=LOkGJGoGSc-d8KfuNYzdTQ
Redirect 301 /gs/thesmiths https://open.spotify.com/user/spotify/playlist/37i9dQZF1DXcXcgZ946sSC?si=upt5RGOeTlifpvJgdMy-xw
Redirect 301 /gs/skin https://open.spotify.com/show/5NzC2VbpEKYas4IRSauhNi?si=_oR7KmwzRc-YpOIOxBKrNQ
Redirect 301 /gs/constancarosas https://www.youtube.com/channel/UCJ2LolVq-OTcuK02fN-h6Wg
Redirect 301 /gs https://www.cgcu.net/guildsheet

# Redirect old paths
Redirect 301 /cgcu/ /
Redirect 301 /bolt.html /guildsheet.html

# Temporary Redirects
Redirect 301 /nominate https://forms.office.com/Pages/ResponsePage.aspx?id=B3WJK4zudUWDC0-CZ8PTBxNyXCTUmGBBoMkdHn3myE5UMVdLRklSV0xBMFpYSEsxR0dTUVpNQ1A0SC4u

# Rewrite rules
RewriteEngine On
# Remove file suffixes
RewriteRule ^(tickets|tickets-link-admin|committeeTabs|contact)$ $1.php
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([^\.]+)$ $1.html [NC,L]

ErrorDocument 404 /error.html
